

<div class="row mt-4" style="margin-left: 1%">
  <div
    *ngFor="let car of cars"
    class="card mt-2 mr-2"
    style="width: 18rem; margin-right: 10px"
  >
    <img
      *ngIf="car.imagePath"
      [src]="baseUrl + car.imagePath"
      class="card-img-top"
      style="object-fit: cover"
      width="100"
      height="50%"
    />

    <img
      *ngIf="!car.imagePath"
      [src]="baseUrl + 'default.jpg'"
      class="card-img-top"
      style="object-fit: cover"
      width="100"
      height="50%"
    />

    <div class="card-body">
      <h4 class="cart-title">{{ car.description }}</h4>
    </div>

    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <i><b>Model Yılı | </b></i>{{car.modelYear}}
      </li>
      <li class="list-group-item">
        <i><b>Marka | </b></i>{{ car.brandName }}
      </li>
      <li class="list-group-item">
        <i><b>Günlük Fiyat: </b></i>{{ car.dailyPrice + " ₺" }}
      </li>
    </ul>

    <div class="card-body">
      <div class="row">
        <button
          type="button"
          class="btn btn-success"
          routerLink="/cars/cardetails/{{ car.carId }}"
        >
          Araba Detayları
        </button>
      </div>
    </div>
  </div>
</div>

